# Packages
1. Pandas
2. SciPy
2. Seaborn

In [1]:
import pandas as pd
import seaborn as sns
import scipy as sp

In [2]:
# import data into df
df = pd.read_csv("Customer-Churn.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [ ]:
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors="coerce")
df = df.dropna()
df[["Churn", "Partner", "Dependents", "PhoneService", "PaperlessBilling"]] = df[
    ["Churn", "Partner", "Dependents", "PhoneService", "PaperlessBilling"]
].map(lambda x: 1 if x == "Yes" else 0)
display_(df.describe().T)

,count,mean,std,min,25%,50%,75%,max
SeniorCitizen,7032.0,0.162400,0.368844,0.00,0.0000,0.000,0.0000,1.00
Partner,7032.0,0.000000,0.000000,0.00,0.0000,0.000,0.0000,0.00
Dependents,7032.0,0.000000,0.000000,0.00,0.0000,0.000,0.0000,0.00
tenure,7032.0,32.421786,24.545260,1.00,9.0000,29.000,55.0000,72.00
PhoneService,7032.0,0.000000,0.000000,0.00,0.0000,0.000,0.0000,0.00
PaperlessBilling,7032.0,0.000000,0.000000,0.00,0.0000,0.000,0.0000,0.00
MonthlyCharges,7032.0,64.798208,30.085974,18.25,35.5875,70.350,89.8625,118.75
TotalCharges,7032.0,2283.300441,2266.771362,18.80,401.4500,1397.475,3794.7375,8684.80
Churn,7032.0,0.000000,0.000000,0.00,0.0000,0.000,0.0000,0.00